 <template name="injuryPage">
  <div class="container">

  		<h2>{{injury.player}}</h2>

  		<h3>{{injury.injury}} - {{injury.injurydate}} </h3>

  		<p>{{injury.notes}}</p>

  		<h4>Insert Rehab Exercise</h4>
		
		  {{#autoForm schema="Rehab" id="insertRehabForm" type="insert"}}
		  <fieldset>
		  	<legend>
				{{> afQuickField name='exercise' options=options}}
				{{> afQuickField name='sets'}}
				{{> afQuickField name='duration'}}
				{{> afQuickField name='date'}}
			    {{> afQuickField name='notes' rows=6}}

		  	</legend>

		  </fieldset>
		   <button type="submit" class="btn btn-primary">Insert</button>
  				{{/autoForm}}
		  
  </div>
</template>	