 <template name="injuryPage">
  <div class="container">

  		<h2>{{injury.player}}</h2>

  		<h3>{{injury.injury}} - {{injury.injurydate}} </h3>

  		<p>{{injury.notes}}</p>

  		<h4>Insert Rehab Exercise</h4>
		
		  {{#autoForm collection="Injuries" schema="Rehab" id="insertRehabForm" type="update"}}
		  <fieldset>

				{{> afQuickField name='exercise' options=options}}
				{{> afQuickField name='sets'}}
				{{> afQuickField name='duration'}}
				{{> afQuickField name='date'}}
			    {{> afQuickField name='notes' rows=6}}

		  </fieldset>
		   <button type="submit" class="btn btn-primary">Insert</button>
  				{{/autoForm}}

		<h4>Rehab Plan</h4>
		{{#with injury}}
		<li>{{injury.exercise}} - {{injury.sets}} x {{injury.duration}} - {{injury.date}}</li>
		<p>{{injury.notes}}</p>
	 {{/with}}  				
		  
  </div>
</template>	